<div class="card mb-4 shadow-sm mt-5">
    <div class="card-header bg-white d-flex align-items-center">
        <a class="text-decoration-none text-dark" href="{% url 'accounts:profile' post.author.id %}">
            <img src="{{ post.author.avatar.url }}" alt="Post" class="rounded-circle me-2"
                 style="width: 40px; height: 40px; object-fit: cover;">
            <strong>{{ post.author.username }}</strong>
        </a>

    </div>

    <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image"
         style="object-fit: cover; max-height: 500px;">

    <div class="card-body pb-1">
        <div class="mb-2">
            <i class="bi bi-heart me-3 fs-5"></i>
            <i class="bi bi-chat me-3 fs-5"></i>
        </div>

        <p class="mb-1"><strong>128</strong> отметок "Нравится"</p>

        <a class="text-decoration-none text-dark" href="{% url 'accounts:profile' post.author.id %}">
            <p class="mb-0">
                <strong>{{ post.author.username }}</strong> {{ post.description }}
            </p>
        </a>
    </div>
</div>
